---
layout: owmx-static
single: true
---
<div>
    <p class="meta">
      {% include post/owmx-author.html %}
    </p>
    
    <p class="meta">
      {% if page.previous.url %}
      	{% capture myurl %}
      	{{page.previous.url | prepend:site.url | replace:' ',''}}
      	{% endcapture %}
        <a class="basic-alignment left" href="{{ myurl }}" title="Previous Post: {{page.previous.title}}">&laquo; {{page.previous.title}}</a>
      {% endif %}
      {% if page.next.url %}
        <a class="basic-alignment right" href="{{page.next.url | prepend:site.url | replace:' ',''}}" title="next Post: {{page.next.title}}">{{page.next.title}} &raquo;</a>
      {% endif %}
    </p>
    
    {{ content }}

{% if site.disqus_short_name and page.comments == true %}
  <section>
    <h1>Comments</h1>
    <div id="disqus_thread" aria-live="polite">{% include post/owmx-disqus_thread.html %}</div>
  </section>
{% endif %}
</div>
