<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
	<head>
		<title>
			{{site.title}}
		</title>
		<meta charset="UTF-8">
		<meta name="description" content="">
		<meta name="robots" content="index,follow">
		<link rel="stylesheet" href="{{ site.url }}/css/a.css" type="text/css">
		<link rel="stylesheet" href="{{ site.url }}/css/jquery.tweet.css"
		type="text/css">
		<link rel="stylesheet" href="{{ site.url }}/css/print.css" type="text/css" media="print" />
		<link href='http://fonts.googleapis.com/css?family=EB+Garamond|Rock+Salt|Bangers' rel='stylesheet' type='text/css'>
	</head>
